name: Build and Deploy

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install Dependencies
        run: flutter pub get

      # 1. WEB BUILD AND DEPLOY
      - name: Build Web
        run: flutter build web --release --base-href "/CalcMemo/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web

      # 2. ANDROID APK BUILD
      - name: Build APK
        run: flutter build apk --release

      # 3. APK DOWNLOAD
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: CalcMemo-app
          path: build/app/outputs/flutter-apk/app-release.apk